@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 700;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 300;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}
 
html[data-theme='forest'] .theme{
	cursor:pointer;
}

html[data-theme='cupcake'] .theme.cupcake {
	display:none;
}

html[data-theme='forest'] .theme.forest {
	display:none;
}

html>body,
.toastui-editor-contents, 
.toastui-editor-contents, * { 
	font-family: 'NanumBarunGothic', sans-serif;
}

.table-box-type-1 table {
	width: 100%;
}

.table-box-type-1 table td, .table-box-type-1 table th {
	border: 1px solid #ddd;
	padding: 10px;
	font-weight: normal;
}

/*
html[data-theme="night"] :is(.table-box-type-1>table th, .table-box-type-1>table td) {
  border-color:white;
  border-color:rgba(166, 173, 186, 0.2);
}

html[data-theme='cupcake'] :where(input[type=text], input[type=password], input[type=email], textarea.textarea) {
	color: #0a0a0a;
	background: #f0f0f0;
	padding:4px 8px ; 
	border-radius: 2px;
} */


input:read-only{
	background-color: rgba(0,0,0,0);
	padding:0px; 
	border: 0;
	box-shadow: none;
}
